{% extends 'base.html.twig' %}

{% block title %}Hello ConsulterGroupeAmiController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .tr-user:hover { background-color: #00d1b2 };
</style>
<div class="hero-head">
    <nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="../"> {#<- Retour à l'accueil#}</a>
        </div>
    </nav>
</div>

{% for message in app.flashes('error') %}
            <div class="notification is-danger is-light"> <button class="delete"></button> {{ message }}</div>
{% endfor %}
{% for message in app.flashes('success') %}
            <div class="notification is-primary is-light"> <button class="delete"></button> {{ message }}</div>
{% endfor %}

<div style="text-align:-webkit-center;margin-top:5%;">
 <div style="display: -webkit-inline-box;">
    <h3 class="title is-4" style="width:max-content; margin-right:35%;"> {{ groupeAmi.getNomGroupe() }} 
    ({{ groupeAmi.getUtilisateurs().count() }} membres) </h3>
 </div>
    <h3 class="title is-6" style="width:max-content;margin-top:1%"> {{ groupeAmi.getCreateur().getNom() }} {{ groupeAmi.getCreateur().getPrenom() }} (Créateur) </h3>
 <div class="control" style="margin-top:2%">
  <div class="select">
    <select>
        <option>Select dropdown</option>
        <option>With options</option>
    </select>
  </div>
  <button class="button is-info">Ajouter ami</button>
 </div>
 <div style="margin-top:2%">
    <table class="table" >
        <tr>
            <th> Liste des membres du groupeAmi
            <th><th></th><th></th><th></th>
        </tr>
        <tr style="margin-top:2%">
            <th> Nom </th>
            <th> Prenom </th>
            <th> Adresse email </th>
            <th> Action </th>
            {{ groupeAmi.getCreateur().getId() == currentuser.getId() ? "<th></th>" : "" }}
        </tr>
        {% for utilisateur in groupeAmi.getUtilisateurs() %}
            <tr class="tr-user">
                <th> {{ utilisateur.getNom() }} {{ groupeAmi.getCreateur().getId() == utilisateur.getId() ? "<p>(Créateur)</p>" : "" }} </th>
                <th> {{ utilisateur.getPrenom() }} </th>
                <th> {{ utilisateur.getAdresseMail() }} </th>                
                <th>
                <button class="button is-primary" onclick="window.location.href='{{ path('app_consultercompte', {id: utilisateur.id}) }}' ">
                    Consulter
                </button>
                </th>
                <th>
                    <button {{ groupeAmi.getCreateur().getId() == utilisateur.getId() ? "disabled" : "" }}
                     {{ groupeAmi.getCreateur().getId() == currentuser.getId() ? "" : "style='display:none'" }}
                     class="button is-danger" onclick="window.location.href='{{ path('app_supprimer_ami_groupe', {idu: utilisateur.id, idg: groupeAmi.getId() }) }}' ">
                        Supprimer du groupe
                    </button>
                </th>
            </tr>
        {%endfor%}
    </table>
</div>
{% endblock %}
