{% extends 'base.html.twig' %}

{% block title %}Hello ConsulterGroupeAmiController!{% endblock %}

{% block body %}
<div class="hero-body is-centered">

{% for message in app.flashes('error') %}
            <div class="notification is-danger is-light"> <button class="delete"></button> {{ message }}</div>
{% endfor %}
{% for message in app.flashes('success') %}
            <div class="notification is-primary is-light"> <button class="delete"></button> {{ message }}</div>
{% endfor %}

<div class="column is-4 m-auto">
 <div style="display: -webkit-inline-box;">
    <h3 class="title is-4" style="width:max-content; margin-right:35%;"> {{ groupeAmi.getNomGroupe() }} 
    ({{ groupeAmi.getUtilisateurs().count() }} membres) </h3>
 </div>
    <h3 class="title is-6" style="width:max-content;margin-top:1%"> {{ groupeAmi.getCreateur().getNom() }} {{ groupeAmi.getCreateur().getPrenom() }} (Créateur) </h3>
 <div class="control" style="margin-top:2%">
  <div class="select">
    <select  id="dropwdown-add"{{ groupeAmi.getCreateur().getId() == currentuser.getId() ? "" : "" }}>
    {% for utilisateur in utilisateurs %}
        <option id="{{ utilisateur.getId() }}" > {{ utilisateur.getAdresseMail() }} </option>
    {%endfor%}
    </select>
  </div>
  <button 
  onclick="window.location.href = '/app_ajouter_ami_groupe/'+ document.getElementById('dropwdown-add').options[document.getElementById('dropwdown-add').selectedIndex].id +'/{{ groupeAmi.getId() }}'"
  class="button is-info"  {{ groupeAmi.getCreateur().getId() == currentuser.getId() ? "" : "" }}>Ajouter ami</button>
  <button 
  onclick="window.location.href='#'" class="button is-danger"  {{ groupeAmi.getCreateur().getId() == currentuser.getId() ? "" : "style='display:none'" }}>Supprimer ce groupe</button>
 </div>
 <div style="margin-top:2%">
    <table class="table" >
        <tr>
            <th> Liste des membres du groupeAmi
            <th><th></th><th></th><th></th>
        </tr>
        <tr style="margin-top:2%">
            <th> Nom </th>
            <th> Prenom </th>
            <th> Adresse email </th>
            <th> Actions </th>
            {{ groupeAmi.getCreateur().getId() == currentuser.getId() ? "<th></th>" : "" }}
        </tr>
        {% for utilisateur in groupeAmi.getUtilisateurs() %}
            <tr class="tr-user">
                <th> {{ utilisateur.getNom() }} {{ groupeAmi.getCreateur().getId() == utilisateur.getId() ? "<p>(Créateur)</p>" : "" }} </th>
                <th> {{ utilisateur.getPrenom() }} </th>
                <th> {{ utilisateur.getAdresseMail() }} </th>                
                <th>
                <button class="button is-primary" onclick="window.location.href='{{ path('app_consultercompte', {id: utilisateur.id}) }}' ">
                    Consulter
                </button>
                </th>
                <th>
                    <button {{ groupeAmi.getCreateur().getId() == utilisateur.getId() ? "disabled" : "" }}
                     {{ groupeAmi.getCreateur().getId() == currentuser.getId() ? "" : "style='display:none'" }}
                     class="button is-danger" onclick="window.location.href='{{ path('app_supprimer_ami_groupe', {idu: utilisateur.id, idg: groupeAmi.getId() }) }}' ">
                        Supprimer du groupe
                    </button>
                </th>
            </tr>
        {%endfor%}
    </table>
</div>
<hr>
</div>
{% endblock %}
