{% extends 'base.html.twig' %}

{% block title %} ModifierSonCompteController!{% endblock %}

{% block javascripts %}
    <script type="text/javascript"></script>

{% endblock %}

{% block body %}


    <div class="hero is-fullheight">
        <div class="hero-head">
            
        </div>
        <div class="hero-body is-centered">
            <div class="column is-4 m-auto">
                <h1 class="title">Modification</h1>
                {{ form_start(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.sexe) }}
                {{ form_row(form.noTel) }}

                <label class="label">{{ form_widget(form.voiture, { 'attr': {'class': 'calendar'} }) }} J'ai un véhicule à ma disposition </label>
                <label class="label">{{ form_widget(form.mailNotif ) }} J'accepte de recevoir des notifications par mail
                    de la part de WeDrive</label>

              

                <div class="field is-grouped">
                    {{ form_row(form.creer) }}

                </div>
                {{ form_end(form) }}
                <button class="button is-danger" onclick="window.location.href='{{ path('utilisateur.supprimerComptePerso', { pwd: '0' }) }}'" >Supprimer </button>


            </div>
        </div>
    </div>

{% endblock %}

