{% extends 'base.html.twig' %}

{% block title %} ModifierSonCompteController!{% endblock %}

{% block javascripts %}
    <script type="text/javascript"></script>

    <script>
        function suppresionCompte() {
            alert("Button operationnel, veillez rediriger vers la route de suppression !");
        }

        function ajouterTexte() {
            alert("Button operationnel !");
        }

    </script>
{% endblock %}

{% block body %}


    <div class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        {# <- Retour à l'accueil #}
                    </a>
                </div>
            </nav>
        </div>
        <div class="hero-body is-centered">
            <div class="column is-4 m-auto">
                <h1 class="title">Modification</h1>
                {{ form_start(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.sexe) }}
                {{ form_row(form.noTel) }}

                <label class="label">{{ form_widget(form.voiture) }} J'ai un véhicule à ma disposition </label>
                <label class="label">{{ form_widget(form.mailNotif ) }} J'accepte de recevoir des notifications par mail
                    de la part de WeDrive</label>

                {{ form_row(form.creer) }}

                {{ form_end(form) }}
                <button onclick="suppresionCompte()">
                    SUPPRIMER MON COMPTE
                </button>
            </div>
        </div>
    </div>

{% endblock %}

