{% extends 'base.html.twig' %}

{% block body %}

    <div class="hero is-fullheight">
    <div class="hero-head">

    </div>
    <div class="hero-body is-centered">
        <div class="column is-4 m-auto">

            <ul>
                {% if (user.id == user_co.id) or (is_granted('ROLE_ADMIN')) %}
                    <h1 class="title">Vos informations</h1>
                    <li>Note : {% if user.getMoyenneNote() > 0 %} {{user.getMoyenneNote()}} <img src="/etoile_pleine.png" width="15" height="15" alt="Note" class="etoile"> {%else%} Pas encore de notes {%endif%} </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>Identifiant : {{ user.id}}</li>
                    {% endif %}
                    <li>Adresse mail : {{ user.adresseMail }}</li>
                    <li>Nom : {{ user.nom }}</li>
                    <li>Prénom : {{ user.prenom }}</li>
                    <li>Sexe : {{ user.sexe }}</li>
                    <li>Numéro de téléphone : 0{{ user.noTel }}</li>
                    <li>J'ai un véhicule à ma disposition : {{ voiture }}</li>
                    <li>J'accepte de recevoir des notifications par mail de la part de WeDrive : {{ notif }}</li>
                    <a class="button is-light" href="\modifierSonCompte">
                        Modifier mon compte
                    </a>
                {% else %}
                    <h1 class="title">Informations de {{ user.prenom }}</h1>
                    <li>Prénom : {{ user.prenom }}</li>
                    <li>Sexe : {{ user.sexe }}</li>
                    <li>Note : {% if user.getMoyenneNote() > 0 %} {{user.getMoyenneNote()}} <img src="/etoile_pleine.png" width="15" height="15" alt="Note" class="etoile"> {%else%} Pas encore de notes {%endif%} </li>

                {% endif %}

            </ul>
        </div>
    </div>

{% endblock %}