{% extends 'base.html.twig' %}

{% block body %}

<div class="hero is-fullheight">
    <div class="hero-head">
        <nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="../">
                    {#<- Retour à l'accueil#}
                </a>
            </div>
        </nav>
    </div>
    <div class="hero-body is-centered">
        <div class="column is-4 m-auto">

            <h1 class="title">Liste des utilisateurs</h1>
            <ul>

                {% set user_select = '' %}
                {% for user in listusers %}
                    <li><a href="{{ path(app.request.attributes.get('_route'), {'user_select': user.id}) }}">{{ user.adresseMail }}</a></li>
                    {% set user_select = app.request.get('user_select') %}

                {% endfor %}

                {% for user in listusers %}
                    {% if user.id == user_select %}
                        <h1 class="title">Information de {{ user.nom }} {{ user.prenom }}</h1>
                        {% if user.id == user_co.id %}
                            <p class="title">(moi)</p>
                            <li>ID : {{ user.id }}</li>
                            <li>Adresse mail : {{ user.adresseMail }}</li>
                            <li>Nom : {{ user.nom }}</li>
                            <li>Prénom : {{ user.prenom }}</li>
                            <li>Sexe : {{ user.sexe }}</li>
                            <li>Numéro de téléphone : 0{{ user.noTel }}</li>
                            <li>J'ai un véhicule à ma disposition : {{ voiture }}</li>
                            <li>J'accepte de recevoir des notifications par mail de la part de WeDrive : {{ notif }}</li>
                            <a class="button is-light" href="\modifierSonCompte">
                                Modifier mon compte
                            </a>
                        {% else %}

                            <li>Adresse mail : {{ user.adresseMail }}</li>
                            <li>Nom : {{ user.nom }}</li>
                            <li>Prénom : {{ user.prenom }}</li>
                            <li>Sexe : {{ user.sexe }}</li>
                            <li>Numéro de téléphone : 0{{ user.noTel }}</li>
                            <li>J'ai un véhicule à ma disposition : {{ voiture }}</li>
                            <li>J'accepte de recevoir des notifications par mail de la part de WeDrive : {{ notif }}</li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </div>

{% endblock %}