{% extends 'base.html.twig' %}

{% block title %}Liste des groupes d'amis{% endblock %}


{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> 
{% endblock %}

{% block body %}
    <div id="box" class="hero-body is-centered">
        <h1 class="title is-3" style="text-align-last:center">Liste des groupes d'amis</h1>
        <a class="button is-primary" href="{{ path('creation_amis') }}">Créer un groupe</a>
        <hr>
        {% if groupes is empty %}
        <p>Aucun groupe d'amis disponible.</p>
        {% else %}
        {% for groupe in groupes %}
        <div class="group-box box content">
            <h2 class="title is-5">{{ groupe.getNomGroupe }}</h2>
            <p>Nombre de membres : {{ groupe.utilisateurs|length }}</p>
            <ul>
                {% for membre in groupe.utilisateurs %}
                <li> {{ membre.getNom }} {{ membre.getPrenom }} , &nbsp; </li>
                {% endfor %}
            </ul>
            <button class="button is-primary" onclick="window.location.href='{{ path('app_consulter_groupe_ami', {id: groupe.getId()}) }}' ">Consulter </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}
