<div>
<p>Offre de {{ trajet.covoitureur|raw }}{% if trajet.annulee %} - Annulé {% endif %}</p>
<p>{{ trajet.lieuDepart.ville|capitalize }} - {{ trajet.lieuArrive.ville|capitalize }}</p>
<p>{{ trajet.dateHeureDepart|date("d/m/Y - H:i") }}</p>
<p>{{ trajet.prix }}€</p>

<a class="button is-primary" href="{{ path('app_trajet', {id: trajet.id}) }}">Voir les détails</a>

</div>