<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}WeDrive{% endblock %}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
    <script>

    </script>
    {% endblock %}

</head>

<body>
    <nav class="navbar is-primary">
			<div class="navbar-brand">
				<a class="navbar-item" href="#">
					🏎️
				</a>
			</div>
	
			<div class="navbar-menu">
				<div class="navbar-start">
					{% if is_granted("ROLE_USER") %}
					<a class="navbar-item" href="{{ path('creer') }}">
						Créer une offre
					</a>
	
					<a class="navbar-item" href="{{ path('recherche') }}">
						Rechercher une offre
					</a>

					<a class="navbar-item" href="/">
						Groupe d'amis (FAIRE LIEN)
					</a>

					<a class="navbar-item" href="{{ path('app_mes_trajets') }}">
						Mes trajets
					</a>
					
					<a class="navbar-item" href="{{ path('notifications') }}">
						Notifications
					</a>
					{% endif %}
				</div>
	
				<div class="navbar-end">
					{% if not is_granted("ROLE_USER") %}
					<div class="navbar-item">
						<a href="{{ path('inscription') }}" class="button is-primary">
							<strong>S'inscrire</strong>
						</a>
					</div>
	
	
					<div class="navbar-item">
						<a href="{{ path('app_login') }}" class="button is-light">
							Se connecter
						</a>
					</div>
	
					{% else %}
	
	
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							Mon compte
						</a>
	
						<div class="navbar-dropdown">
							<a class="navbar-item" href="{{ path('app_consultercompte', {id: app.user.id}) }}">
							Voir mon profil
							</a>
	
							<hr class="navbar-divider">
							<a class="navbar-item" href="{{ path('app_logout') }}">
								Se déconnecter
							</a>
						</div>
	
					</div>
					{% endif %}
				</div>
			</div>
		</nav>

    {% block body %}{% endblock %}

    <footer class="footer is-primary">
        <div class="content has-text-centered">
            <p>
                <b>WeDrive</b>
            </p>
        </div>
    </footer>
</body>

</html>