{% extends 'base.html.twig' %}

{% block body %}

    <button class="button" onclick="window.location.href='{{ path('notifications') }}'" >Retour</button>
    <div>
        <p>{{ notif.dateHeureNotif|date("d/m/Y - H:i") }}</p>
        <p>{{ notif.titreNotif }}</p>
        <p>{{ notif.texteNotif }}</p>

        {% if notif.getReponse() is defined %}
            {{ notif.reponse.texteReponse }}
            <br/>
            {% if notif.reponse.etatReponse is same as("En attente") %}
                <a href="{{ path('accepter_notification', {id: notif.id}) }}">Accepter</a>
                <a href="{{ path('refuser_notification', {id: notif.id}) }}">Refuser</a>
            {% elseif notif.reponse.etatReponse is same as("Acceptée") %}
                <p>Vous avez accepté cette réponse.</p>
            {% else %}
                {% if notif.reponse.trajetConcerne.placesDispo <= 0 %}
                    <p>La nombre maximal de passagers pour ce trajet est atteint.</p>
                {% else %}
                    <p>Vous avez refusé cette réponse.</p>
                {% endif %}
            {% endif %}
        {% endif %}

        

    </div>

{% endblock %}