{% extends 'base.html.twig' %}

{% block javascripts %}
<script>

    var users = [];

    $(document).ready(function(){

        function etoile(number){
            $('.etoile_' + number).hover(function () {
                    id = $(this).parent().attr('id');
                    setEtoile(number, id);
                }, 
                function () {
                    id = $(this).parent().attr('id');
                    if(id in users)
                        setEtoile(users[id], id);
                    else
                        setEtoile(0, id);
                }
            );

            $('.etoile_' + number).click(function () {
                id = $(this).parent().attr('id');
                $.ajax({
                    url: '{{ path('noteUtilisateur') }}', 
                    data: JSON.stringify({idEvaluateur: "{{ utilisateurActuel.id }}",
                                            idEvalue: id, 
                                            idTrajet: "{{ trajet.id }}",
                                            note: $(this).attr('class')[7]
                                            }),
                    method: 'POST',
                    contentType: 'application/json',
                    headers: {'X-Requested-With': 'XMLHttpRequest'},
                    success: function (response) 
                    {    
                        console.log(response);
                        users[id] = number;
                        setEtoile(number, id);
                    },
                    500: function(response) {
                        console.log(response.responseText)
                    },
                    501: function(response) {
                        console.log(response.responseText)
                    },
                    400: function(response) {
                        console.log(response.responseText)
                    }    
                });
            });
        }


        function setEtoile(number, id){
            $(document).find("#"+id).children().each(function() {
                if($(this).attr('class')[7] <= number)
                    $(this).attr('src','../etoile_pleine.png');
                else
                    $(this).attr('src','../etoile_vide.png');
            });
        }

        // Affichage des étoiles existantes
        {% for n in utilisateurActuel.notes %}
            {% if n.idTrajet.id == trajet.id %}
                users[{{n.idEvalue.id}}] = {{n.note}};
                setEtoile({{n.note}}, {{n.idEvalue.id}})
            {% endif %}
        {% endfor %}

        // Mise en place des event des étoiles de chaque utilisateur
        for(i = 1; i < 6; i++)
            etoile(i);
        
    });

</script>



{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Détails du trajet </h1>

    <p id="{{trajet.Covoitureur.id}}">Covoitureur : {{ include('_utilisateur_trajet_element.html.twig', {date: trajet.dateHeureDepart|date('d-m-Y H:i'), today: today, utilisateur: trajet.Covoitureur, utilisateurActuel: utilisateurActuel}) }}</p>

    <p id="lieuDepart">Lieu de départ : {{ trajet.lieuDepart }}</p>

    <p id="dateDepart">Date de départ : {{ trajet.dateHeureDepart|date("d/m/Y - H:i") }}</p>

    <p id="lieuRDV">Lieu de rendez-vous : {{ trajet.precisionLieuRdv }}</p>

    <p id="prix">Prix : {{ trajet.prix }}€</p>

    {% if trajet.pointIntermediaires %}
        <p id="prevPointsIntermediaires">Etape(s) intermédiaire(s) : </p>
        <div id="listePtIntermediaires">
        <ol>
        {% for p in trajet.pointIntermediaires %}
            <li> {{ p.ville }}</li>
        {% endfor %}
        </ol>
        </div>
    {% endif %}

    <p id="lieuArrive">Lieu d'arrivée : {{ trajet.lieuArrive }} </p>

    <p id="commentaire">Commentaire du conducteur : {{ trajet.commentaire }} </p>

    <p id="capaciteMax">Places disponibles : {{ trajet.placesDispo }} / {{ trajet.capaciteMax }} </p>

    {% if app.user.id != trajet.covoitureur.id %}
        {% if reponse %}
            <p>Votre réponse :</p>
            {{ reponse.texteReponse }}
            {% if reponse.etatReponse is same as("En attente") %}
                <p>Votre réponse n'a pas encore été traitée par le conducteur.</p>
            {% elseif reponse.etatReponse is same as("Acceptée") %}
                <p>Vous réponse a été acceptée, veuillez consulter vos notifications pour savoir comment contacter directement le conducteur.</p>
            {% else %}
                <p>Votre réponse a été refusée.</p>
            {% endif %}
        {% elseif trajet.placesDispo <= 0 %}
            <p>Il n'y a plus de place disponible pour ce trajet.</p>
        {% else %}
            {{ form(form, { 'attr': {'autocomplete': 'off'} }) }}   
        {% endif %}
    {% else %}
        {% if trajet.utilisateurs %}
            <p>Participants au trajet : </p>
            <ul>
            {% for u in trajet.utilisateurs %}
                {% if u.id != trajet.Covoitureur.id %}
                    <li id='{{ u.id }}'>
                        {{ include('_utilisateur_trajet_element.html.twig', {date: trajet.dateHeureDepart|date('d-m-Y H:i'), today: today, utilisateur: u, utilisateurActuel: utilisateurActuel}) }}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <p>Vous n'avez accepté aucun passager pour l'instant.</p>
        {% endif %}
        
    {% endif %}

</div>
{% endblock %}
