{% extends 'base.html.twig' %}

{% block title %}Hello TrajetController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Détails du trajet </h1>

    <p id="covoitureur">Covoitureur : {{ covoitureur }}</p>

    <p id="lieuDepart">Lieu de départ : {{ lieuDepart }}</p>

    <p id="dateDepart">Date de départ : {{ date }}</p>

    <p id="lieuRDV">Lieu de rendez-vous : {{ lieuRDV }}</p>

    <p id="prix">Prix : {{ prix }}€</p>

    <p {{ hidden }} id="prevPointsIntermediaires">Etape(s) intermédiaire(s) : </p>
    
    
        <div id="listePtIntermediaires">
            <ol>
                {{ listePointsIntermediaires|raw }}
            </ol>
        </div>

    <p id="lieuArrive">Lieu d'arrivé : {{ lieuArrive }} </p>

    <p id="commentaire">Commentaire du covoitureur : {{ commentaire }} </p>

    <p id="capaciteMax">Capacité maximale du véhicule : {{ capaciteMax }} </p>

</div>

<br>

<div Align=CENTER >
    <button id="supprimer" onclick="openPopup()" type="button" class="button is-primary" style="background:height:50px;width:200px;font: 18px/1.5 sans-serif;">
        Supprimer ce trajet
    </button>
</div>

<br>

<div Align="CENTER" style="display:none" id="popup">
    <div class="modal-header">
        <div class="title">Etes-vous sure de vouloir supprimer ce trajet ?</div>
    </div>
    <br>
    <div class="modal-body">
        <button type="button" onclick="window.location.href='../';" style="background:height:50px;width:150px;font: 18px/1.5 sans-serif;">Oui</button>
        <button type="button" style="background:height:50px;width:150px;font: 18px/1.5 sans-serif;" onClick="openPopup()">Non</button>
    </div>
</div>

<script type="text/javascript">

    function openPopup(){
        if(document.getElementById('popup').style.display=="none"){
            document.getElementById('popup').style="display:block;";
            document.getElementById('supprimer').style="display:none;";
        }else{
            document.getElementById('popup').style="display:none;";
            document.getElementById('supprimer').style="display:block;background:height:50px;width:200px;font: 18px/1.5 sans-serif;";
        }
    }

    /*

    On teste si l'utilisateur est bien le créateur de l'offre, si oui on lui donne la possibilité de la supprimer sinon non
    if(  ){
        document.getElementById('supprimer').style="display:none;";
    }


    Fonction pour supprimer la ligne correspondant au trajet dans la BDD, lié au bouton "Oui"
    function supprimerTrajetBDD(){

    }

    */

</script>


{% endblock %}
