{% extends 'base.html.twig' %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Détails du trajet </h1>

    <p id="covoitureur">Covoitureur : {{ covoitureur }}</p>

    <p id="lieuDepart">Lieu de départ : {{ lieuDepart }}</p>

    <p id="dateDepart">Date de départ : {{ date }}</p>

    <p id="lieuRDV">Lieu de rendez-vous : {{ lieuRDV }}</p>

    <p id="prix">Prix : {{ prix }}€</p>

    <p {{ hidden }} id="prevPointsIntermediaires">Etape(s) intermédiaire(s) : </p>
    
    
        <div id="listePtIntermediaires">
            <ol>
                {{ listePointsIntermediaires|raw }}
            </ol>
        </div>

    <p id="lieuArrive">Lieu d'arrivé : {{ lieuArrive }} </p>

    <p id="commentaire">Commentaire du covoitureur : {{ commentaire }} </p>

    <p id="capaciteMax">Capacité maximale du véhicule : {{ capaciteMax }} </p>

</div>

<br>

<div Align=CENTER >

    <h2 style="display:none" id="texte_erreur_date"><FONT color="red">Vous ne pouvez pas supprimer ce trajet car la date de départ est dans moins de 24h</FONT></h2>
    <br>
    <button id="supprimer" onclick="openPopup()" type="button" class="button is-primary" style="background:height:50px;width:200px;font: 18px/1.5 sans-serif;">
        Supprimer ce trajet
    </button>
</div>

<br>
<p style="display:none" id="test">{{ date }}</p>
<br>
<div Align="CENTER" style="display:none" id="popup">
    <div class="modal-header">
        <div class="title">Etes-vous sure de vouloir supprimer ce trajet ?</div>
    </div>
    <br>
    <div class="modal-body">
        <button type="button" onclick="window.location.href='../';" style="background:height:50px;width:150px;font: 18px/1.5 sans-serif;">Oui</button>
        <button type="button" style="background:height:50px;width:150px;font: 18px/1.5 sans-serif;" onClick="openPopup()">Non</button>
    </div>
</div>

<script type="text/javascript">

     /* Il n'y a que le createur d'un trajet qui puisse le supprimer */
    if( {{ covoitureur_id }} != {{ user_id }}){
        document.getElementById('supprimer').style="display:none;";
    }


    function testDate(){
        /* On recupere la date de départ du trajet (Format: jj-mm-aaaa hh:mm)*/
        temp = document.getElementById('test').innerHTML;
        tab_Date_Heure = temp.split(" ");
        tabDate = tab_Date_Heure[0].split("-");
        tabHeure = tab_Date_Heure[1].split(":");

        date_depart = new Date(parseInt(tabDate[2],10),parseInt(tabDate[1],10)-1,parseInt(tabDate[0],10),parseInt(tabHeure[0],10),parseInt(tabHeure[1],10));
        /* On enleve un jour pour pouvoir faire le test  */
        date_depart.setDate(date_depart.getDate()-1);

        current_date = new Date();

        return(current_date>date_depart);
    }


    function openPopup(){

        if(testDate()){
            document.getElementById('texte_erreur_date').style="display:block;";
        }else{
            if(document.getElementById('popup').style.display=="none"){
                document.getElementById('popup').style="display:block;";
                document.getElementById('supprimer').style="display:none;";
            }else{
                document.getElementById('popup').style="display:none;";
                document.getElementById('supprimer').style="display:block;background:height:50px;width:200px;font: 18px/1.5 sans-serif;";
            }
        }
    }

</script>


{% endblock %}
